.Card {
  width: 320px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
  margin: 10px;
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.651);
}

.Card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height:100%;
}

.Image2{
  height: 200%;
  width: 200%;
  position: relative;
  filter: blur(5px);
  opacity: 0.5;
}

.Card a {
  text-decoration-color: transparent;
}


.CardboxGroup {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
  align-items: left;
  justify-content: center;
}

.author {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.artTitle {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-shadow: 0px 2px 1px black;
  text-align: left;
  bottom: 0px;
  margin-bottom: 46px;
  margin-left: 16px;
  max-width: 290px;
  position: absolute;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-shadow: 0px 2px 1px black;
  text-align: left;
  bottom: 0px;
  margin-bottom: 46px;
  margin-left: 16px;
  max-width: 290px;
}

.gradient {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(0deg,#1f1f22e8 5%,#1f1f21cb 50%,rgba(25,26,27,0));
  pointer-events: none;
}

.officialAuthor {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 16px;
  margin-left: 16px;
}
@media (max-width: 920px) {
.Card {
  width: 240px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
  margin: 10px;
}
}