.Card {
  width: 280px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.651);
}

.Card img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card a {
  text-decoration-color: transparent;
}

.Card h3 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding-top: 20%;
  display: block;
  position: relative;
  text-shadow: 2px 2px 20px black;
}

.Card p {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  position: relative;
  display: block;
  /* flex-wrap: wrap; */
  flex-direction: column;
  text-shadow: 2px 2px 20px black;
}

.artCredit {
  padding-top: 40%;
}

.artFooter {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  text-shadow: 2px 2px 20px black;
}

.CardboxGroup {
  max-width: 1366px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1366px) {
  .Card {
    width: 280px;
    height: 225px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
    user-select: none;
  }
  .CardboxGroup {
    align-items: center;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .CardboxGroupScroll {
    overflow-x: scroll;
    overflow-y: visible;
    width: 100%;
    background: transparent;
    padding: 30px 0px -10px;
  }
}

@media (max-width: 720px) {
  .Card {
    width: 265px;
    height: 225px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
    user-select: none;
  }
  .CardboxGroup {
    margin: 20px 16px 55px;
    grid-template-columns: repeat(50, 275px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: left;
    align-items: center;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .CardboxGroupScroll {
    overflow-x: scroll;
    overflow-y: visible;
    width: 100%;
    background: transparent;
    padding: 30px 0px -10px;
  }
}
