.tab {
  display: flex;
  flex-direction: column;
  font-family: "Brandon Grotesque";
}

.navbarIcons {
  height: 30px;
  width: 30px;
}

.buttonheader{
margin-left: 18px;
}

.buttonheader a{
font-size: 14px;
}

::-webkit-scrollbar{
       display:none;
    }